@using Microsoft.AspNetCore.Identity
@using Inspicio.Models
@using Inspicio.Extensions

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Images" asp-action="Index">View All Reviews</a></li>
        <li><a asp-area="" asp-controller="Images" asp-action="Create">Create Review</a></li>
    </ul>

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right"> 
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><img style="height:40px;width:40px" src="@User.GetProfilePicture()" /> Hello <span class="main-user">@User.GetProfileName()</span></a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}