
<!-- HOMEPAGE -->

    <h2>Inspicio</h2>
    <h3>The tool that simplifies user interface reviews.</h3>
    <ul style="list-style-type: none">
        <li>Create new reviews easily</li>
        <li>Collaberate with colleagues at the click of a button</li>
        <li>Pin comments to the images you want to review</li>
    </ul>


<img src="~/images/ostrich.jpg" class="img-responsive" alt="Newcastle" />
