<!-- HOMEPAGE -->
<div id="homeImg">
    <div class="blur"></div>


    <div id="home-header">
        <img src="~/images/InspicioOstrich.svg" class="img-responsive" alt="Inspicio" />
    </div>

    <div id="img-txt">
        <div class="row-eq-height">
            <div class="col-md-8">
                <div id="dropzoneDiv">
                    <div class="dropzone needsclick dz-clickable" id="uploader">
                        <div class="dz-message needsclick">
                            Drop files here or click to upload.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 feat-col">
                <img src="~/images/create.svg" class="img-responsive" /> Drop in your images
            </div>
        </div>
        <div class="row-eq-height">
            <div class="col-md-4 feat-col">
                <img src="~/images/add.svg" class="img-responsive" /> Add teammates to review your images
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">Add reviewers</div>
                    <div class="panel-body">
                        
                            <input type="text" placeholder="Search..." />

                            <div class="row-eq-height">
                                <div class="col-md-2 text-center">
                                    <input type="checkbox" />
                                </div>
                                <div class="col-md-10 text-left">
                                    Chatbot
                                </div>

                            </div>
                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row-eq-height">
            <div class="col-md-8">

            </div>
            <div class="col-md-4 feat-col">
                <img src="~/images/pin.svg" class="img-responsive" /> Receive interactive feedback on your work
            </div>
        </div>
    </div>


</div>

<link rel="stylesheet" href="~/css/home.css">
<script>
    Dropzone.autoDiscover = false;
    var myDropzone = new Dropzone(".dropzone", {

        maxFiles: 1,
        autoProcessQueue: false,
        init: function () {

            this.on("addedfile", function (file) {

                if (file) {
                    var FR = new FileReader();
                    FR.addEventListener("load", function (e) {
                        var images = $(".dropzone#uploader > .dz-preview > .dz-image > img");
                        var l = images.length;
                        for (var i = 0; i < l; i++) {
                            images[0].parentNode.removeChild(images[0]);
                        }
                        var image = new Image();
                        $(image).addClass("img-responsive")
                        image.src = e.target.result;
                        $(image).appendTo(".dropzone#uploader > .dz-preview >.dz-image  ");
                    });

                    FR.readAsDataURL(file);
                }
            });
        },

        // Function to be called on the server
        url: "doNothing"
    });

    myDropzone.on("maxfilesexceeded", function (file) {
        this.removeAllFiles();
        this.addFile(file);
    });
</script>