
<!-- HOMEPAGE -->
<div id="homeImg">
    <div class="blur"></div>


    <div id="home-header">
        <img src="~/images/Inspicio.svg" alt="Inspicio" />
    </div>

<div id="img-txt">
    <ul id="text-list">
        <li ><img src="~/images/create.svg"  class="img-responsive"/>    Create new reviews easily</li>
        <li ><img src="~/images/add.svg"  class="img-responsive" />    Collaberate with colleagues at the click of a button</li>
        <li ><img src="~/images/pin.svg"  class="img-responsive" />    Pin comments to the images you want to review</li>
    </ul>
</div>    
   

</div>

<link rel="stylesheet" href="~/css/home.css">
