
<!-- HOMEPAGE -->
<div id="homeImg">
    <div class="blur"></div>


    <div id="home-header">
        <img src="~/images/Inspicio.svg" alt="Inspicio" />
    </div>

<div id="img-txt">
    <ul style="list-style-type: none" id="text-list">
        <li style="padding-bottom: 100px;"><img src="~/images/create.svg" style="height:100px; padding-right:20px;" />    Create new reviews easily</li>
        <li style="padding-bottom: 100px;"><img src="~/images/add.svg"  style="height:100px; padding-right: 20px;" />    Collaberate with colleagues at the click of a button</li>
        <li style="padding-bottom: 100px;"><img src="~/images/pin.svg"  style="height:100px; padding-right: 20px;" />    Pin comments to the images you want to review</li>
    </ul>
</div>    
   

</div>

<link rel="stylesheet" href="~/css/home.css">
