.blur {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.4);
}

#homeImg {
    height:100vh;
    background-image: url(../images/ostrich.jpg);
    position: relative;
    z-index: 5;
    overflow: hidden;
    padding: 30px;
    background-size: cover;
    background-attachment:fixed;
}
.dropzone{
    width:100%;
}
#home-header {
    font-family: 'KG Summer Sunshine Blackout';
    margin: 75px 0px 0px;
}
#home-header img{
    margin:auto;
}
}.navbar-header {
    display: none;
}
#img-txt > .row-eq-height:not(:first-child) {
    display: none;
}
#img-txt >.row-eq-height{
    margin:10px 0;
    height:350px;
    
}
.dropzone {
    padding: 0px;
    background-color: rgba(33, 33, 33, 0.46);
}
.panel-body {
    color:black;
}

    .map-col > div {
        background-color: rgba(214, 214, 214, 0.8);
        border-radius: 3px;
    }
.panel-body .row-eq-height {
    margin: 10px auto;
    padding: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.23);
}
#img-txt {
    color: white;
    margin: 100px 0;
    font-family: 'Century Gothic';
    font-size: larger;
}

    #img-txt ul {
        padding: 0px;
        list-style-type: none
    }

    #img-txt li {
        margin: 50px 0;
    }

    #img-txt .feat-col img {
        height: 80px;
        margin: 0 20px 0 0;
        display: inline-block;
    }

.navbar-brand {
    visibility: hidden;
}

.container.body-content {
    margin: 0;
    padding: 0;
    width: 100%;
}

body nav.navbar.navbar-inverse.navbar-fixed-top {
    background: none;
    border: none;
    position:absolute;
}
