.blur {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(0,0,0,0.4);
}

#homeImg {
    background-image: url(../images/ostrich.jpg);
    height: 100vh;
    position: relative;
    z-index: 5;
    overflow: hidden;
    padding:30px;
}

#home-header {
    font-family: 'KG Summer Sunshine Blackout';
    margin:55px 0px;
}
.navbar-header{
    display:none;
}
#img-txt {
    color: white;
    margin:100px 0;
    font-family: 'Century Gothic';
    font-size: larger;
}
    #img-txt ul {
        padding: 0px;
        list-style-type: none
    }
#img-txt li{
    margin:50px 0;
    
}
    #img-txt img {
        height: 100px;
        margin: 0 20px 0 0;
        display: inline-block;
    }

.navbar-brand {
    visibility:hidden;
}

.container.body-content{
    margin:0 ;
    padding:0;
    width:100%;
}
body nav.navbar.navbar-inverse.navbar-fixed-top {
    background: none ;
    border: none ;
}