body {
    padding-top: 50px;
    padding-bottom: 20px;
}
hr {
    border-color: #e6e6e6;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /* max-width:280px;
  width:100%;*/
}

.create-img input:not(.btn), .create-img select, .create-img textarea {
    max-width: none;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.dash-project > h3 {
    display: inline;
}

.notification-img {
    font-size: 24px;
    margin: 15px;
    align-self: center;
}

.dashboard {
    background-color: rgba(204, 204, 204, 0.53);
    border-radius: 2px;
    padding: 0;
}

.row-eq-height {
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.dash-filter select {
    width: 50%;
    display: inline-block;
}

.dashboard > .row-eq-height {
    border-bottom: 1px solid #b5b5b5;
}

.checkbox-inline {
    margin: 0 15px;
}

.closed {
    background-color: rgba(144, 75, 75, 0.47);
}

.completed {
    background-color: rgba(155, 199, 169, 0.47);
}

.your {
    background-color: rgba(255, 255, 255, 0.47);
}

.waiting {
    background-color: rgba(232, 215, 9, 0.17);
}
.dz-max-files-reached {
    background-color: red
}
.dz-preview{
    display:none !important;
}
.dropzone {
    height: 450px;
    border-radius: 2px !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    background-position: center !important;
    object-fit: cover;
}

#comment-section{
    margin:10px 0;
    padding:10px 0;
}
.comment {
    /*border-bottom: 1px solid #c1c1c1;*/
}
.comment > div:first-child {
    border-right: 1px solid #c1c1c1;
}
#new-comment{
    padding:20px 0;
}
#comment-textarea {
    padding-right: 50px;
}
#submit-comment {
    position: absolute;
    right: 10px;
    top: 0px;
    height: 100%;
    display: flex;
    width: 50px;
    border-right: 0;
}
#submit-comment>i{
    margin:auto;
}
.login-page input{
    max-width: 280px;
}
#thumb-container {
    padding: 15px 0;
}
#thumb-container i {
    font-size: 24px;
    cursor:pointer;
}