
@model Inspicio.Models.AccountViewModels.LogRegModel

<script type="text/javascript" src="~/js/login_register.js"></script>
<script type="text/javascript" src="~/js/popover.js"></script>

<!-- ▼▼ Register Form ▼▼ -->
<form id="registerform"  align="center" asp-controller="Account" asp-action="Register" method="post" class="form-horizontal">
    <h4>Sign Up For Free!</h4>
    <div  align="center" class="log-form form-group">
        <div class="col-md-8 col-md-offset-2">
            <input asp-for="Register.ProfileName" class="form-control" placeholder= "Username" />
            <span asp-validation-for="Register.ProfileName" class="text-danger" style="color: black;"></span>
        </div>
    </div>
    <div  align="center" class="log-form form-group">
        <div class="col-md-8 col-md-offset-2">
            <input asp-for="Register.Email" class="form-control" placeholder="Email Address"/>
            <span asp-validation-for="Register.Email" class="text-danger" style="color: black;"></span>
        </div>
    </div>
    <div align="center" class="log-form form-group">
        <div class="col-md-8 col-md-offset-2">
            <input asp-for="Register.Password" class="form-control" placeholder="Password" name="password" id="password" required data-toggle="popover" title="Password Strength"  data-content="Enter Password..."/>
            <span asp-validation-for="Register.Password" class="text-danger" style="color: black;"></span>
        </div>
    </div>
    <div  align="center" class="log-form form-group">
        <div class="col-md-8 col-md-offset-2">
            <input asp-for="Register.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            <span asp-validation-for="Register.ConfirmPassword" class="text-danger" style="color: black;"></span>
        </div>
    </div>
    <div align="center" class="log-form form-group">
        <div class="col-md-offset-1 col-md-10">
            <button type="submit" class="btn btn-default" id="reg-btn"> GET STARTED </button>
        </div>
    </div>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}