
@model Inspicio.Models.AccountViewModels.LogRegModel

<script type="text/javascript" src="~/js/login_register.js"></script>

<div id="loginform" align-text="centre" class="row login-page">
    <div id="loginform" class="col-md-8" align-text="center">
        <table style="border-width: 1px;">
            <tr>
                <td  id="loginsection"  >Login.</td>
                <td  id="registersection">Register.</td>
            </tr>
        </table>
        <section>
            
            <div id="content-area" >
                @await Html.PartialAsync("_UserLoginPartial")
                @await Html.PartialAsync("_RegisterPartial")
            </div>

        </section>

        <p align="center" >            
            <a onclick="loginswitch()">Register as a new user?</a>
        </p>
        <p align="center">
            <a asp-action="ForgotPassword">Forgot your password?</a>
        </p>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script>
    $(window).on("load", function () {
        @{
            if (Model != null)
            {
                if (Model.Login != null)
                {
                    @:$("#registerform").css("display","none");
                    @:$("#loginformmain").css("display","block");
                }
                else
                {
                    @:$("#registerform").css("display","block");
                    @:$("#loginformmain").css("display","none");
                }
            }
        }
    });
</script>